<%- include('partials/header'); -%>

<header>
    <div class="headings">
        <h2>Welcome :)</h2>
        <h3>By Hayeong</h3>
        <a href="/detail" class="btn">View Detail</a>
    </div>
</header>


<%- include('partials/footer'); -%>